@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto);


form{ /*FORMs padronizados*/
    position:relative;
    margin: 20px auto;
    top: 50px;
    right: 80px;
    width: 380px;
    height: auto;
}

#esquerda div {
    margin: 10px;
}

